<footer class="footer">
  <div class="container container--footer">
    <div class="footer__flex-container">
      <a href="./">
        <svg class="logo">
          <use href="./images/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <a href="./characters.html" class="footer__link">Comics</a>
    </div>
    <ul class="footer__socials-list">
      <li class="socials-list__item">
        <a href="https://pl-pl.facebook.com/" class="socials-list__link">
          <svg class="socials-list__icon">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="socials-list__item">
        <a href="https://www.instagram.com/" class="socials-list__link">
          <svg class="socials-list__icon">
            <use href="./images/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="socials-list__item">
        <a href="https://twitter.com/?lang=ru" class="socials-list__link">
          <svg class="socials-list__icon">
            <use href="./images/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <p class="footer__private-police">Privacy Policy Public Offering Agreement</p>
</footer>
