<header class="header">
  <div class="container header__container">
    <a href="./">
      <svg class="logo">
        <use href="./images/icons.svg#icon-logo"></use>
      </svg>
    </a>
    <div class="search-field">
      <svg class="icon-search">
        <use href="./images/icons.svg#icon-search"></use>
      </svg>
      <input
        class="header__input"
        list="browsers"
        name="fav"
        placeholder="Search"
      />
    </div>
    <datalist id="browsers">
      <option>Edge</option>
    </datalist>
  </div>
</header>
