<section class="hero">
  <div class="container">
    <p class="hero__text">Web-based platform</p>
    <h1 class="hero__title">Marvelous Adventures</h1>
    <p class="hero__descriptions">
      is a web-based platform that provides an immersive experience for users to
      explore and discover a vast collection of Marvel characters and comics.
      Start exploring the Marvelous Adventures now by visiting our Characters
      and Comics sections and discover your new favorites today.
    </p>
    <button type="button" class="hero__btn">All Comics</button>
    <div class="swiper mySwiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <img src="./images/black-panter.png" alt="" />
          <img src="./images/black-panter-desc.png" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="./images/black-panter.png" alt="" />
          <img src="./images/black-panter-desc.png" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="./images/black-panter.png" alt="" />
          <img src="./images/black-panter-desc.png" alt="" />
        </div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
