<section class="hero">
  <div class="container">
    <p class="hero__text">Web-based platform</p>
    <h1 class="hero__title">Marvelous Adventures</h1>
    <p class="hero__descriptions">
      is a web-based platform that provides an immersive experience for users to
      explore and discover a vast collection of Marvel characters and comics.
      Start exploring the Marvelous Adventures now by visiting our Characters
      and Comics sections and discover your new favorites today.
    </p>
    <button type="button" class="hero__btn">All Comics</button>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide mySlide">
          <img src="./images/black-panter.png" alt="" class="superhero__name" />
          <div class="superhero__container">
            <img
              src="./images/black-panter-desc.png"
              alt=""
              class="superhero__model"
            />
            <div class="circle"></div>
            <div class="superhero__descriptions">
              <svg class="hero__band">
                <use href="./images/icons.svg#icon-band"></use>
              </svg>
              <p class="characters">Characters</p>
              <p class="superhero__info">
                T’Challa is the king of the secretive and highly advanced
                African nation of Wakanda - as well as the powerful warrior
                known as the Black Panther.
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide mySlide">
          <img src="./images/black-panter.png" alt="" class="superhero__name" />
          <div class="superhero__container">
            <img
              src="./images/black-panter-desc.png"
              alt=""
              class="superhero__model"
            />
            <div class="circle"></div>
            <div class="superhero__descriptions">
              <svg class="hero__band">
                <use href="./images/icons.svg#icon-band"></use>
              </svg>
              <p class="characters">Characters</p>
              <p class="superhero__info"></p>
            </div>
          </div>
        </div>
        <div class="swiper-slide mySlide">
          <img src="./images/black-panter.png" alt="" class="superhero__name" />

          <div class="superhero__container">
            <img
              src="./images/black-panter-desc.png"
              alt=""
              class="superhero__model"
            />
            <div class="circle"></div>
            <div class="superhero__descriptions">
              <svg class="hero__band">
                <use href="./images/icons.svg#icon-band"></use>
              </svg>
              <p class="characters">Characters</p>
              <p class="superhero__info"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination myPagination"></div>
  </div>
</section>
