<section class="last-comics">
  <div class="container">
    <h2 class="last-comics__title">Last Comics</h2>
    <div class="last-comics-swiper swiper">
      <div class="background-spinner is-hidden">
        <div class="orbit-spinner">
          <div class="orbit"></div>
          <div class="orbit"></div>
          <div class="orbit"></div>
        </div>
      </div>
      <ul class="last-comics-wrapper swiper-wrapper"></ul>
      <div class="navigations-container">
        <div class="swiper-button-prev">
          <svg>
            <use href="./images/icons.svg#icon-Vector"></use>
          </svg>
        </div>
        <div class="swiper-button-next">
          <svg>
            <use href="./images/icons.svg#icon-Vector"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
