<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide mySlide">
      <img
        src="./images/panter.png"
        alt="black-panther"
        class="superhero__name"
      />

      <div class="superhero__container">
        <img
          src="./images/panter-model.png"
          alt="black-panther"
          class="superhero__model"
        />

        <div class="circle circle--purple"></div>
        <div class="superhero__descriptions">
          <svg class="hero__band">
            <use href="./images/icons.svg#icon-band"></use>
          </svg>
          <p class="characters">Characters</p>
          <p class="superhero__info">
            T’Challa is the king of the secretive and highly advanced African
            nation of Wakanda - as well as the powerful warrior known as the
            Black Panther.
          </p>
        </div>
      </div>
    </div>
    <div class="swiper-slide mySlide">
      <img src="./images/hulk.png" alt="hulk" class="superhero__name" />

      <div class="superhero__container">
        <img
          src="./images/hulk-model.png"
          alt="hulk"
          class="superhero__model"
        />

        <div class="circle circle--green"></div>
        <div class="superhero__descriptions">
          <svg class="hero__band">
            <use href="./images/icons.svg#icon-band"></use>
          </svg>
          <p class="characters">Characters</p>
          <p class="superhero__info">
            Exposed to heavy doses of gamma radiation, scientist Bruce Banner
            transforms into the mean, green rage machine called the Hulk.
          </p>
        </div>
      </div>
    </div>
    <div class="swiper-slide mySlide">
      <img
        src="./images/spider-man.png"
        alt="spider-man"
        class="superhero__name"
      />

      <div class="superhero__container">
        <img
          src="./images/spider-man-model.png"
          alt="spider-man"
          class="superhero__model"
        />
        <div class="circle circle--red"></div>
        <div class="superhero__descriptions">
          <svg class="hero__band">
            <use href="./images/icons.svg#icon-band"></use>
          </svg>
          <p class="characters">Characters</p>
          <p class="superhero__info">
            With amazing spider-like abilities, teenage science whiz Peter
            Parker fights crime and dreams of becoming an Avenger as Spider-Man.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="swiper-pagination" id="myPagination"></div>
